
body, .page-body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    padding: 4px;
}

.page-body {
    display:flex;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page-body >.page-left {
    display: flex;
    flex-direction: row;
    width: 200px;
    border-right: 1px solid #ccc;
}

.page-body >.page-right {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.music-list-container {
    display: flexbox;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.footer-palyer-nar {
    display: flexbox;
    width: 100%;
    height: 40px;
    flex-direction: column;
}